{exp:channel:entries "documents"}
	
{preload_replace:my_page_title="{title} | Document"}
{embed="partials/site_html_head" page_title="{my_page_title}"}

{snip_body_open}
	{snip_body_margin}
	{embed="partials/site_nav_top"}
	
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
				    	{title} ({document_academic_calendar:title})
				   	</div>
		   			<dl class="dl-horizontal">
		   				<dt>Summary</dt>
						<dd class="well">{document_description}</dd>
						
						<dt>Academic Calendar</dt>
							<dd>{document_academic_calendar:title}</dd>
						<dt>Last Updated</dt>
						<dd>{edit_date format="%m-%d-%Y"}</dd>
						
						<dt>Author</dt>
						<dd>{screen_name}</dd>
						
						<dt>Download File</dt>
						<dd><a href="{document_file_upload}" target="_blank">Click here to download the file</a></dd>
		   			</dl>
		   			<div class="panel-footer">
						<a class="btn btn-sm btn-primary" href="{path='documents'}">
							Back to Documents
						</a>
		   			</div>
				</div>
			</div>
		</div>
	</div>
	
	{embed="partials/site_footer"}
	{embed="partials/site_body_javascript"}
{snip_body_close}

{/exp:channel:entries}
