<!-- Marketing messaging and featurettes -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div style="background-color: #cadde7">
	<div class="container marketing">
		<!-- Three columns of text below the carousel -->
		<div class="row">
			<div class="col-lg-4">
			  	<img class="img-circle" data-src="holder.js/140x140" />
			  	<h2>Monthly Calendars</h2>
			  	<p><a class="btn btn-default" href="{path='calendar/month'}">View more &raquo;</a></p>
			</div><!-- // .col-lg-4 -->
			
			<div class="col-lg-4">
			  	<img class="img-circle" data-src="holder.js/140x140" />
			  	<h2>Weekly Calendars</h2>
			  	<p><a class="btn btn-default" href="{path='calendar/week'}">View more &raquo;</a></p>
			</div><!-- // .col-lg-4 -->
			
			<div class="col-lg-4">
			  	<img class="img-circle" data-src="holder.js/140x140" />
			  	<h2>Daily Calendars</h2>
			  	<p><a class="btn btn-default" href="{path='calendar/day'}">View more &raquo;</a></p>
			</div><!-- // .col-lg-4 -->
		</div><!-- // .row -->
	</div> <!-- // .container .marketing -->
</div>