{global_doctype_html5}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="LaVilla Foundation, Incorporated, Non-Profit 501(c)(3) organization supporting the vocal program at the LaVilla School of the Arts (LASOTA) in Jacksonville, Florida">
	<meta name="author" content="David King, Jr.">

	<title>{embed:page_title} | {site_name}</title>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" media="all" href="{theme_folder_url}site_themes/lavillafdn2/css/site.css" />
	<link rel="stylesheet" media="all" href="{theme_folder_url}site_themes/lavillafdn2/css/twitter.css" />

	<!-- Page JavaScripts -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.8.2/holder.min.js"></script>
	<script src="{theme_folder_url}site_themes/lavillafdn2/js/twitfetch.js"></script>
</head>