<!-- Carousel -->
<div style="background: #000">
	<div class="container">
		<div class="row">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol> <!-- // carousel-indicators -->

				<div class="carousel-inner" role="listbox">
					{exp:channel:entries channel="calendar_events" limit="5" category="68" status="open"}
					<div class="item active">
						<div class="container">
							<img class="carousel-image" src="{feature_carousel_image}" alt="{feature_carousel_headline}" style="object-fill: cover"/>
							{if feature_carousel_headline}
							<div class="carousel-caption">
								<h1>{feature_carousel_headline}</h1>
								{if feature_carousel_tagline}
								<p>{feature_carousel_tagline}</p>
								{/if}
							</div> <!-- // carousel-caption -->
							{/if}
						</div> <!-- // container -->
					</div> <!-- // item -->
					{/exp:channel:entries}
				</div> <!-- // .carousel-inner -->
				<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
				<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div><!-- // .carousel -->
		</div>
	</div>
</div>
