<div id="panel-king-social" class="panel panel-primary">
	<div class="panel-heading">
		<h4 class="panel-title">Mrs. King's Social Network</h4>
	</div>
	<div class="list-group">
		<a href="#" class="list-group-item">Chamber Singers</a>
		<a href="#" class="list-group-item">Concert Chorus</a>
		<a href="#" class="list-group-item">Broadway Bound</a>
		<a href="#" class="list-group-item">Cambiata</a>
		<a href="#" class="list-group-item">Vocal Techniques</a>
	</div>
	<div class="panel-body">
		<ul class="nav nav-pills" role="tablist">
			<li role="presentation" class="active">
				<a href="#king_twitter"
				   aria-controls="king_twitter"
				   role="tab"
				   data-toggle="tab"><i class="fa fa-twitter"></i> Twitter</a>
			</li>
			<li role="presentation">
				<a href="#king_instagram"
				   aria-controls="king_instagram"
				   role="tab"
				   data-toggle="tab"><i class="fa fa-instagram"></i> Instagram</a>
			</li>
		</ul>
		<div class="tab-content" style="margin-top: 10px">
			<div role="tabpanel" class="tab-pane active" id="king_twitter">
				<div id="king-twitter" class="tw-widget1"></div>
				<div class="list-group">
					<a href="#" class="list-group-item">More Twitter</a>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="king_instagram">
				Mrs. King's Instagram
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<a href="#">More about Mrs. King</a>
	</div>
</div>
