				<div id="panel-pendry-social" class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							Mr. Pendry's Social Network
						</h3>
					</div>
					<div class="panel-body">
						<ul class="nav nav-pills" role="tablist">
							<li role="presentation" class="active">
								<a href="#pendry_twitter"
								   aria-controls="pendry_twitter"
								   role="tab"
								   data-toggle="tab"><i class="fa fa-twitter"></i> Twitter</a>
							</li>
							<li role="presentation">
								<a href="#pendry_instagram"
								   aria-controls="pendry_instagram"
								   role="tab"
								   data-toggle="tab"><i class="fa fa-instagram"></i> Instagram</a>
							</li>
						</ul>

						<div class="tab-content" style="margin-top: 10px">
							<div role="tabpanel" class="tab-pane active" id="pendry_twitter">
                                <div id="pendry-twitter" class="tw-widget1"></div>
							</div>
							<div role="tabpanel" class="tab-pane" id="pendry_instagram">
								Mr. Pendry's Instagram
							</div>
						</div>
                        <div class="list-group">
                            <a href="#" class="list-group-item">Bel Canto</a>
                            <a href="#" class="list-group-item">Art Singers</a>
                            <a href="#" class="list-group-item">Treble 1A</a>
                            <a href="#" class="list-group-item">Treble 2A</a>
                            <a href="#" class="list-group-item">Advanced Musicianship</a>
                        </div>
					</div>
                    <div class="panel-footer">
                        <a href="#">More About Mr. Pendry</a>
                    </div>
				</div>
